{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <div class="container-md">
        <div class="card text-center">
            <div class="card-header">
            Nuestros valores
            </div>
            <div class="card-body">
            <h5 class="card-title">¡Bienvenidos a nuestra tienda textil sostenible! Aquí, cada hilo cuenta una historia de respeto por nuestro planeta. Estamos emocionados de tenerlos en nuestro viaje hacia un futuro más verde y consciente. 🌿</h5>
            <p class="card-text">
                 <p>1. **Sostenibilidad**: En nuestra tienda, cada hilo es un compromiso con nuestro planeta. Utilizamos materiales reciclados y procesos de producción ecológicos para minimizar nuestra huella de carbono. Creemos que la moda no tiene por qué ser a expensas de nuestro medio ambiente.</p>
                
                 <p> 2. **Calidad**: Nos enorgullece ofrecer productos de alta calidad que no sólo son hermosos y cómodos, sino también duraderos. Nuestro objetivo es reducir el desperdicio de moda proporcionando prendas que resisten el paso del tiempo.</p>
                
                 <p> 3. **Transparencia**: Creemos en la honestidad y la transparencia en cada paso de nuestro proceso de producción. Desde la obtención de materiales hasta la fabricación y el envío, nuestros clientes pueden confiar en que estamos haciendo todo lo posible para ser sostenibles.</p>
                
                 <p> 4. **Ética**: Nos aseguramos de que todos los involucrados en nuestro proceso de producción sean tratados con justicia y respeto. Esto significa salarios justos, condiciones de trabajo seguras y ninguna explotación laboral.</p>
                
                 <p> 5. **Innovación**: Estamos constantemente buscando nuevas formas de hacer que nuestros productos sean más sostenibles. Ya sea a través de tecnologías de fabricación más eficientes o de la exploración de nuevos materiales reciclables, la innovación es un pilar clave de nuestra marca.</p>
                
                 <p> Estos valores son los pilares de nuestra tienda y guían todo lo que hacemos. Juntos, podemos hacer de la moda una fuerza para el bien y ayudar a liderar el camino hacia un futuro más sostenible. 🌿</p>
            </div>
            <div class="card-footer text-body-secondary">
            Nos comprometimos con la moda
            </div>
        </div>
    </div>
{% endblock %}
